<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{::title})}">
    <title>Overview of all Colors</title>
</head>
<body>


<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1>Overview of all Colors</h1>

    <!-- Yeni renk eklemek için form -->
    <form th:action="@{/color/save}" method="post" th:object="${formColor}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><label for="newColorName">Name</label></th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="color : ${allColors}">
                <td>

                    <a th:href="@{/color/detail/{colorName}(colorName=${color.name})}"
                       th:text="${color.name}"></a>
                </td>
                <td>
                    <a th:href="@{/color/edit/{colorName}(colorName=${color.name})}">Edit</a> %
                    <a th:href="@{/color/delete/{colorName}(colorName=${color.name})}"
                       onclick="return confirm('Are you sure you want to delete this color?');">Delete</a>
                </td>
            </tr>

            <tr>
                <td>
                    <input id="newColorName" type="text" th:field="*{name}"
                           placeholder="Enter color name" />
                </td>
                <td>
                    <button type="submit" class="btn btn-primary btn-sm">Save Color</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>


<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>
