<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
  <title>Football Club Form</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
  <h1>Create a new football club</h1>

  <form class="row g-3" th:action="@{/footballclub/new}" method="post" th:object="${newFootballClub}">
    <input type="hidden" th:field="*{clubId}">


    <div class="row g-3 align-items-center">
      <div class="col-1">
        <label for="name" class="col-form-label">Club Naam</label>
      </div>
      <div class="col-5">
        <input type="text" id="name" class="form-control" th:field="*{name}" aria-describedby="nameHelpInline">
      </div>
      <div class="col-6">
                <span id="nameHelpInline" class="form-text">
                </span>
      </div>
    </div>

    <div class="row g-3 align-items-center">
      <div class="col-1">
        <label for="foundingYear" class="col-form-label">Founding Year</label>
      </div>
      <div class="col-5">
        <input type="text" id="foundingYear" class="form-control" th:field="*{foundingYear}" aria-describedby="foundingYearHelpInline">
      </div>
      <div class="col-6">
                <span id="foundingYearHelpInline" class="form-text">
                </span>
      </div>
    </div>

    <div class="row g-3 align-items-center">
      <div class="col-1">
        <label for="colors" class="col-form-label">Color</label>
      </div>
      <div class="col-3">
        <select id="colors" class="form-select" th:field="*{colors}" aria-describedby="colorsHelpInline" multiple>
          <option th:each="colorOption : ${allColors}"
                  th:text="${colorOption.name}"
                  th:value="${colorOption.colorId}">
          </option>
        </select>
      </div>
      <div class="col-6">
                <span id="colorsHelpInline" class="form-text">
                </span>
      </div>
    </div>

    <div class="row g-3 align-items-center">
      <div class="col-1">
        <label for="imageUrl" class="col-form-label">Image URL</label>
      </div>
      <div class="col-5">
        <input type="text" id="imageUrl" class="form-control" th:field="*{imageUrl}" placeholder="Enter image URL" aria-describedby="imageHelpInline">
      </div>
    </div>

    <div class="col-4">
      <button type="submit" class="btn btn-outline-primary">Save Football Club</button>
    </div>
  </form>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>
