<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: baseHeader(~{:: title})}">
    <meta charset="UTF-8">
    <title>Overview all clubs</title>
</head>
<body>

<div th:replace="~{fragments/general.html :: navbar}"></div>

<div class="container">
    <h1>Overview all clubs</h1>

    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Founding Year</th>
            <th>Color</th>
            <th>Trophies In The Museum</th>
            <th></th><!-- Trophy -->
            <th></th><!-- Delete -->
        </tr>
        <tr th:each="footballclub : ${allFootballClubs}">
            <td>
                <a th:href="@{/footballclub/details/{name}(name=${footballclub.name})}" th:text="${footballclub.name}"></a>
<!-- when users click on a club's name, they will be taken to a detailed view of that specific club, as defined by the route in your Spring Controller.-->

            </td>
            <td th:text="${footballclub.foundingYear}"></td>
            <td th:text="${footballclub.colorString}"></td>
            <td>
                <span th:text="${footballclub.getNumberofATrophiesInTheMuseum()}"></span>/<span th:text="${footballclub.getNumberOfTrophies()}"></span>
            </td>

            <td><a th:href="@{/trophy/new/{clubId}(clubId=${footballclub.clubId})}">Add trophy</a></td>
            <td><a th:href="@{/footballclub/delete/{clubId}(clubId=${footballclub.clubId})}">Delete</a></td>
        </tr>
    </table>
    <a th:href="@{/footballclub/new}">Add a new football club</a>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>
