<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title th:text="|Details for football club: ${footballClub.name}|"></title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1>Detail for football club: <span th:text="${footballClub.name}"></span>,  <span th:text="${footballClub.foundingYear}"></span></h1>

    <h2>Colors</h2>
    <ul>
        <li th:each="color : ${footballClub.colors}">
            <a th:href="@{/color/detail/{colorName}(colorName=${color.name})}" th:text="${color.name}"></a>
        </li>
    </ul>

    <h2>Actions</h2>
    <ul>
        <li><a th:href="@{/footballclub/edit/{footballclubName}(footballclubName=${footballClub.name})}">Edit football club</a></li>
        <li><a th:href="@{/footballclub/delete/{clubId}(clubId=${footballClub.clubId})}">Delete football club</a></li>
        <li><a th:href="@{/trophy/new/{clubId}(clubId=${footballClub.clubId})}">Add trophy</a></li>
    </ul>

    <h2>Footballers</h2>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Footballer name</th>
            <th>Position</th>
        </tr>
        <tr th:each="footballer : ${footballersInClub}">
            <td th:text="${footballer.footballerName}"></td>
            <td th:text="${footballer.footballerPosition}"></td>
        </tr>
    </table>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>
</html>
