<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>userOverview.html</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <ul>
        <li th:each="user : ${allUsers}" th:text="${user.username}">Username</li>
    </ul>

    <button type="button"
            class="btn btn-outline-secondary btn-lg px-4 fw-bold"
            data-bs-toggle="modal" data-bs-target="#newForm">
        <i class="bi bi-plus-square"></i> Add user
    </button>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

<div th:replace="~{fragments/footballclubuser :: userFormModal(${formUser}, ${#fields})}"></div>
</body>
</html>